.model__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.model__content {
    position: relative;
    justify-self: center;
}

.model__img {
    width: 280px;
}

.model__button{
    justify-self: center;
}

/* For small devices */

@media screen and (max-width: 340px) {
    .model__img {
        width: 220px;
    }
}

/* For medium devices */

/* For large devices */

@media screen and (min-width: 1150px) {
    .model__img {
        width: 500px;
    }
}